.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}



.country img{
    width:200px;
}
.country {
    border: 3px solid rosybrown;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color:rgb(213, 243, 213);
}